This file categorize the `location_category` field of an xlsx into world regions.

In [78]:

import sys, os

sys.path.append(os.path.abspath(os.path.join("..", "..", "src")))

import time
import json

import pandas as pd
import numpy as np
from tqdm import tqdm
tqdm.pandas()

from common.app import App

app_run = App(debug=True)

In [79]:
filename = "agents_full_year1_COVID19.xlsx"
xlsx_path = os.path.join(app_run.root_dir, "src", "resources", filename)

df = pd.read_excel(xlsx_path, header=0, keep_default_na=False)

In [80]:
df

,ID,handle,user_id,location,followers_count,verified,TweepError,location_category,Remark,Target,Source,Total
0,1,who,14499829,"Geneva, Switzerland",9963173,True,,Switzerland,,6920,10748,17668
1,2,drtedros,189868631,"Geneva, Switzerland",1550767,True,,Switzerland,,5927,7997,13924
2,3,dhscgovuk,37963496,England,708802,True,,United Kingdom,,1741,4630,6371
3,4,eu_health,606325697,"Brussels, Europe",79439,True,,Belgium,,340,4226,4566
4,5,gouvernementfr,951480480,France,1023810,True,,France,,943,3111,4054
...,...,...,...,...,...,...,...,...,...,...,...,...
8942,8943,prï¿½t,,,260466,,50,TweepError,,0,0,0
8943,8944,24mattinocopy,,,,,50,TweepError,,0,0,0
8944,8945,kelly_smith10,22526034,"London, England",83665,True,,United Kingdom,,0,0,0
8945,8946,travelinescot,41099421,"Scotland, UK",27514,False,,United Kingdom,,0,0,0
8946,8947,cbschicago,15032862,Chicago,180546,True,,United States,,0,0,0

In [81]:
regions_filename = "countries_regions.json"
regions_path = os.path.join(app_run.root_dir, "src", "resources", regions_filename)
with open(regions_path, "r") as fjson:
    regions = json.load(fjson)

In [82]:
def categorize_location(location_cat):
    location_cat = location_cat.strip()
    if location_cat == "Europe":
        return "Europe"
    elif location_cat == "International":
        return "International"
    elif location_cat == "NA":
        return "NA"
    elif location_cat == "TweepError":
        return "TweepError"
    else:
        if location_cat in regions.keys():
            return regions[location_cat] 
        else:
            return None

In [83]:
df["region"] = df["location_category"].progress_apply(categorize_location)

100%|██████████| 8947/8947 [00:00<00:00, 542360.10it/s]

In [84]:
df["region"].isna().sum()

30

In [85]:
# Output df

output_f = "agents_full.xlsx"
out_path = os.path.join(app_run.root_dir, "src", "resources", output_f)
df.to_excel(out_path, index=False, engine="openpyxl")